.Text {
  &--color {
    &-text {
      color: var(--theme-fg);
    }
    &-primary {
      color: var(--theme-p1);
    }
    &-secondary {
      color: var(--theme-p2);
    }
    &-text {
      color: var(--theme-fg);
    }
    &-muted {
      color: var(--theme-n2);
    }
    &-background {
      color: var(--theme-bg);
    }
  }
  &--single-line {
    white-space: nowrap;
  }
  &--align {
    &-center {
      text-align: center;
    }
    &-left {
      text-align: left;
    }
    &-right {
      text-align: right;
    }
    &-justify {
      text-align: justify;
    }
  }

  &--text-transform {
    &-none {
      text-transform: none;
    }
    &-uppercase {
      text-transform: uppercase;
    }
    &-lowercase {
      text-transform: lowercase;
    }
    &-capitalize {
      text-transform: capitalize;
    }
  }
}

$rem: 18;

:root {
  font-size: #{$rem}px;
}

button {
  padding: 0;
  margin: 0;
  appearance: none;
}
h1 {
  padding: 0;
  line-height: 0;
}

h1 {
  font-size: #{calc(72 / $rem)}rem;
  line-height: #{calc(92 / $rem)}rem;
}
h2 {
  font-size: #{calc(48 / $rem)}rem;
  line-height: #{calc(60 / $rem)}rem;
}
h3 {
  font-size: #{calc(24 / $rem)}rem;
  line-height: #{calc(32 / $rem)}rem;
}
h4 {
  font-size: 1rem;
  line-height: #{calc(24 / $rem)}rem;
}
h5 {
  font-size: #{calc(13 / $rem)}rem;
  line-height: #{calc(16 / $rem)}rem;
}

p {
  font-size: 1rem;
  line-height: #{calc(21.5 / $rem)}rem;

  &.Text--small {
    font-size: #{calc(13 / 18)}rem;
    line-height: #{calc(17.9 / $rem)}rem;
  }
}
